
Mean<br>
Median<br>
Mode<br>
Variance<br>
Standard Deviation<br>
Correlation<br>
Normal Distribution (use references)<br>
Feature of Normal Distribution<br>
Positively Skewed & Negatively Skewed Normal Distribution

In [125]:
import pandas as pd

In [3]:
#Load the csv dataset
df=pd.read_csv('E:\Csv file\data2.csv')

In [6]:
#Printing the first 10 rows.
df.head(10)

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1
5,14000,8000,2,0,196560,Graduate,1
6,15000,16000,3,35000,167400,Post-Graduate,1
7,18000,20000,5,8000,216000,Graduate,1
8,19000,9000,2,0,218880,Under-Graduate,1
9,20000,9000,4,0,220800,Under-Graduate,2

In [7]:
#Describing the dataset.
df.describe()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000
mean,41558.000000,18818.000000,4.060000,3060.000000,4.900190e+05,1.460000
std,26097.908979,12090.216824,1.517382,6241.434948,3.201358e+05,0.734291
min,5000.000000,2000.000000,1.000000,0.000000,6.420000e+04,1.000000
25%,23550.000000,10000.000000,3.000000,0.000000,2.587500e+05,1.000000
50%,35000.000000,15500.000000,4.000000,0.000000,4.474200e+05,1.000000
75%,50375.000000,25000.000000,5.000000,3500.000000,5.947200e+05,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,4.000000

In [9]:
#Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [13]:
#printing the columns of the dataset.
df.columns

Index(['Mthly_HH_Income', 'Mthly_HH_Expense', 'No_of_Fly_Members',
       'Emi_or_Rent_Amt', 'Annual_HH_Income', 'Highest_Qualified_Member',
       'No_of_Earning_Members'],
      dtype='object')

In [16]:
#check if there exist null values.
df.isnull().sum()

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64

In [20]:
#check if there exist duplicate value or not.
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

<center><h1><font color="red">Measures of Central Tendency</font></h1><br>
The measures of central tendency show the central or middle values of datasets. </center>

<h1><font color="blue">Calculate Mean</font></h1><br>
Mean=Avarage value

In [29]:
#Appeding the column(Mthly_HH_Income) value in a list 
a=[]
for i in df.Mthly_HH_Income:
    a.append(i)
print(a)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]

In [51]:
#Calculate mean without using mean()function.
sum=0
for i in range(len(a)):
    sum=sum+a[i]
m=sum/len(a)
print("The mean value for first column is::",m)

The mean value for first column is:: 41558.0

In [34]:
#Calculate mean using mean()function.
df.Mthly_HH_Income.mean()

41558.0

In [35]:
#Appending 2nd column(Mthly_HH_Expense) in a list.
a=[]
for i in df.Mthly_HH_Expense:
    a.append(i)
print(a)

[8000, 7000, 4500, 2000, 12000, 8000, 16000, 20000, 9000, 9000, 18000, 25000, 5000, 10500, 10000, 12300, 20000, 10000, 6600, 13000, 25000, 15000, 19000, 25000, 12000, 25000, 8000, 10000, 15000, 12000, 25000, 40000, 10000, 22000, 25000, 15000, 20000, 20000, 45000, 10000, 50000, 20000, 9000, 20000, 25000, 48000, 25000, 30000, 50000, 40000]

In [37]:
#Calculate mean without using mean() function for 2nd column.
sum=0
for i in range(len(a)):
    sum=sum+a[i]
m=sum/len(a)
print("Mean for second column is::",m)

Mean for second column is:: 18818.0

In [39]:
#Calculate Mean using mean()function for 
df.Mthly_HH_Expense.mean()

18818.0

<h1><font color="blue">Calculate Median</font></h1><br>
Median=Medium value

In [105]:
#Appending first column in a list.
a=[]
for i in df.Mthly_HH_Income:
    a.append(i)
print(a)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]

In [106]:
#Calculate Median value for first column without using median()function.
a.sort()
if len(a)%2==0:
    m=len(a)//2 #25
    m1=m-1 #24
    print(m,m1)
    med=(a[m]+a[m1])/2
print("Median value for 1st column::",med)

25 24
Median value for 1st column:: 35000.0

In [122]:
#Calculate median for 1st column without using function.
df.Mthly_HH_Income.median()

35000.0

In [115]:
#Appending 2nd column in a list.
b=[]
for i in df.Mthly_HH_Expense:
    b.append(i)
print(b) 
print("/n")
b.sort()
print("After sorting::",b)
print(len(b))

[8000, 7000, 4500, 2000, 12000, 8000, 16000, 20000, 9000, 9000, 18000, 25000, 5000, 10500, 10000, 12300, 20000, 10000, 6600, 13000, 25000, 15000, 19000, 25000, 12000, 25000, 8000, 10000, 15000, 12000, 25000, 40000, 10000, 22000, 25000, 15000, 20000, 20000, 45000, 10000, 50000, 20000, 9000, 20000, 25000, 48000, 25000, 30000, 50000, 40000]
/n
After sorting:: [2000, 4500, 5000, 6600, 7000, 8000, 8000, 8000, 9000, 9000, 9000, 10000, 10000, 10000, 10000, 10000, 10500, 12000, 12000, 12000, 12300, 13000, 15000, 15000, 15000, 16000, 18000, 19000, 20000, 20000, 20000, 20000, 20000, 20000, 22000, 25000, 25000, 25000, 25000, 25000, 25000, 25000, 25000, 30000, 40000, 40000, 45000, 48000, 50000, 50000]
50

In [128]:
#Calculate median value for 2nd column without using median() function .
if len(b)%2==0:
    m=len(b)//2
    m1=m-1
    print(m,m1)
    m2=(b[m]+b[m1])/2
print("Median for 2nd column is::",m2)

25 24
Median for 2nd column is:: 15500.0

In [127]:
df.Mthly_HH_Expense.median()

15500.0

<h1><font color="Blue">Calculate Mode</h1>

In [244]:
#Calculate mode without using mode()function. 
a=[1,2,3,1,5,7,9,8,1,1]
d={}
for i in a:
    if(i in d):
        d[i]=d[i]+1
    else:
        d[i]=1
print(d)

{1: 4, 2: 1, 3: 1, 5: 1, 7: 1, 9: 1, 8: 1}

In [254]:
#Maximum value of key.
m=max(d.values())
print(m)

4

In [262]:
#Accessing the key by the maximum value.
for key,value in d.items():
   # print(key,value)
    if (m==value):
        print("Mode==",key)

Mode== 1

In [ ]:
#Calculate mode value in the dataset for 1st column()without using mode()function.

In [263]:
#Appending 1st column data in a list.
li=[]
for i in df.Mthly_HH_Income:
    li.append(i)
print(li)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]

In [270]:
#Adding and counting key and values in a dictonary.
d1={}
for i in li:
    if(i in d1):
        d1[i]=d1[i]+1
    else:
        d1[i]=1
print(d1) 
m1=max(d1.values())
print("Maximum value is==",m1)

{5000: 1, 6000: 1, 10000: 2, 12500: 1, 14000: 1, 15000: 1, 18000: 1, 19000: 1, 20000: 2, 22000: 1, 23400: 1, 24000: 2, 25000: 3, 29000: 1, 30000: 1, 30500: 1, 32000: 1, 34000: 2, 35000: 2, 39000: 1, 40000: 1, 42000: 1, 43000: 1, 45000: 4, 46000: 1, 47000: 1, 50000: 1, 50500: 1, 55000: 1, 60000: 2, 65000: 1, 70000: 1, 80000: 1, 85000: 1, 90000: 1, 98000: 1, 100000: 3}
Maximum value is== 4

In [271]:
#Accessing key by max value.
for key,value in d1.items():
    if m1==value:
        print("Mode==",key)

Mode== 45000

In [274]:
#Calculate mode using mode()function.
m3=statistics.mode(li)
print("Mode==",m3)

Mode== 45000

<center><h1><font color="red">Measures of Variability</font></h1><br>
The measures of central tendency aren’t sufficient to describe data. You’ll also need the measures of variability that quantify the spread of data points.</center>
<ul>
    <li>Variance</li>
    <li>Standard deviation</li>
    <li>Skewness</li>
    <li>Percentiles</li>
    <li>Ranges</li></ul>

<h1><font color="blue"> Variance</font></h1><br>
The sample variance quantifies the spread of the data. It shows numerically how far the data points are from the mean. You can express the sample variance of the dataset 𝑥 with 𝑛 elements mathematically as 𝑠² = Σᵢ(𝑥ᵢ − mean(𝑥))² / (𝑛 − 1), where 𝑖 = 1, 2, …, 𝑛 and mean(𝑥) is the sample mean of 𝑥.There are two types of variance.<br>1.Simple Variance<br>2.Population Variance

<h3>Simple Variance</h3>

In [272]:
import math
import statistics
import numpy as np
import scipy.stats

In [210]:
#Calculating variance without using function for this below list.
x=[8.0, 1, 2.5, 4, 28.0]
sum=0
for i in range(len(x)):
    sum=sum+x[i]
mean_=sum/len(x)
print("Mean==",mean_)
var=np.sum((item-mean_)**2 for item in x )/(len(x)-1) #Formula for variance.
print("Variance==",var)

Mean== 8.7
Variance== 123.19999999999999

C:\Users\azada\AppData\Local\Temp/ipykernel_11252/1640920152.py:8: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  var=np.sum((item-mean_)**2 for item in x )/(len(x)-1) #Formula for variance.

In [186]:
# calculating variance for this list using variance()function.
x=[8.0, 1, 2.5, 4, 28.0]
var=statistics.variance(x)
var

123.2

In [196]:
df.columns

Index(['Mthly_HH_Income', 'Mthly_HH_Expense', 'No_of_Fly_Members',
       'Emi_or_Rent_Amt', 'Annual_HH_Income', 'Highest_Qualified_Member',
       'No_of_Earning_Members'],
      dtype='object')

In [211]:
#Calculating simple variance for the dataset 1st column(Mthly_HH_Income) without using variance() function.
a=[]
for i in df.Mthly_HH_Income:
    a.append(i)
print(a) 
#calculate mean.
mean_=np.sum(a)/len(a)
print("Mean==",mean_)
#calculate variance.
var10=np.sum((item-mean_)**2 for item in a)/(len(a)-1)
print("Variance==",var10)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]
Mean== 41558.0
Variance== 681100853.0612245

C:\Users\azada\AppData\Local\Temp/ipykernel_11252/2822518912.py:10: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  var10=np.sum((item-mean_)**2 for item in a)/(len(a)-1)

In [205]:
#Calculating simple variance using variance() function.
var1=statistics.variance(a)
print("Variance==",var1)

Variance== 681100853.0612245

<h3>Population Variance</h3>
<p>You calculate the population variance similarly to the sample variance. However, you have to use 𝑛 in the denominator instead of 𝑛 − 1: Σᵢ(𝑥ᵢ − mean(𝑥))² / 𝑛. In this case, 𝑛 is the number of items in the entire population. You can get the population variance similar to the sample variance, with the following differences:</p>
<ul>
    <li>Replace (n - 1) with n in the pure Python implementation.</li>
    <li>Use statistics.pvariance() instead of statistics.variance().</li></ul

In [217]:
#Without using pvariance()function.
a=[]
for i in df.Mthly_HH_Income:
    a.append(i)
print(a) 
#calculate mean.
mean_=np.sum(a)/len(a)
print("Mean==",mean_)
#calculate variance.
var11=np.sum((item-mean_)**2 for item in a)/(len(a))
print("Population Variance==",var11)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]
Mean== 41558.0
Population Variance== 667478836.0

C:\Users\azada\AppData\Local\Temp/ipykernel_11252/2370981297.py:10: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  var11=np.sum((item-mean_)**2 for item in a)/(len(a))

In [207]:
#Using pvariance() function,calculate population variance.
var1=statistics.pvariance(a)
print(var1)

667478836

<h1><font color="blue">Standard Deviation</font></h1>
<p>The sample standard deviation is another measure of data spread. It’s connected to the sample variance, as standard deviation, 𝑠, is the positive square root of the sample variance. The standard deviation is often more convenient than the variance because it has the same unit as the data points. Once you get the variance, you can calculate the standard deviation with pure Python:</p>

<h3>Simple Deviation</h3>

In [212]:
#Simple deviation without using stdev()function for the 1st column(Mthly_HH_Income)
std=var10 ** 0.5 #var10 is simple variance...
print(std)

26097.908978713687

In [213]:
#Simple deviation using stdev()function.
std1=statistics.stdev(a)
print(std1)

26097.908978713687

<h3>Population Deviation</h3>
<p>The population standard deviation refers to the entire population. It’s the positive square root of the population variance. You can calculate it just like the sample standard deviation, with the following differences:</p>
<ul>
    <li>Find the square root of the population variance in the pure Python implementation.</li>
    <li><b>Use statistics.pstdev() instead of statistics.stdev()</b></li></ul>

In [218]:
#Without using pstdev() function for 1st column(Mthly_HH_Income)
std3=var11 ** 0.5
print(std3)

25835.611779092826

In [214]:
#Using function pstdev()function.
std2=statistics.pstdev(a)
print(std2)

25835.611779092826

<h1><font color="blue">Corelation</font></h1>

In [219]:
#co-relation
df.corr()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
Mthly_HH_Income,1.000000,0.649215,0.448317,0.036976,0.970315,0.347883
Mthly_HH_Expense,0.649215,1.000000,0.639702,0.405280,0.591222,0.311915
No_of_Fly_Members,0.448317,0.639702,1.000000,0.085808,0.430868,0.597482
Emi_or_Rent_Amt,0.036976,0.405280,0.085808,1.000000,0.002716,-0.097431
Annual_HH_Income,0.970315,0.591222,0.430868,0.002716,1.000000,0.296679
No_of_Earning_Members,0.347883,0.311915,0.597482,-0.097431,0.296679,1.000000

<h1><font color="blue">Skewness</font></h1>
<p>The sample skewness measures the asymmetry of a data sample.A simpler expression is<b> Σᵢ(𝑥ᵢ − mean(𝑥))³ 𝑛 / ((𝑛 − 1)(𝑛 − 2)𝑠³)</b>, where 𝑖 = 1, 2, …, 𝑛 and mean(𝑥) is the sample mean of 𝑥. The skewness defined like this is called the adjusted Fisher-Pearson standardized moment coefficient.</p>Once you’ve calculated the size of your dataset n, the sample mean mean1, and the standard deviation std1, you can get the sample skewness with pure Python:

In [237]:
#Calculating the skew value without using skew() for 1st column(Mthly_HH_Income).
a=[]
for i in df.Mthly_HH_Income:
    a.append(i)
print(a)
n=len(a)
mean1=np.sum(a)/n
std1=var1**0.5
skew1=np.sum((item -mean1)**3 for item in a)*n / ((n-1)*(n-2)*std1**3)
print("Skew==",skew1)

[5000, 6000, 10000, 10000, 12500, 14000, 15000, 18000, 19000, 20000, 20000, 22000, 23400, 24000, 24000, 25000, 25000, 25000, 29000, 30000, 30500, 32000, 34000, 34000, 35000, 35000, 39000, 40000, 42000, 43000, 45000, 45000, 45000, 45000, 46000, 47000, 50000, 50500, 55000, 60000, 60000, 65000, 70000, 80000, 85000, 90000, 98000, 100000, 100000, 100000]
Skew== 0.924614876377723

C:\Users\azada\AppData\Local\Temp/ipykernel_11252/1578875506.py:9: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  skew1=np.sum((item -mean1)**3 for item in a)*n / ((n-1)*(n-2)*std1**3)

In [236]:
#Calculate skew value using function.
df.Mthly_HH_Income.skew()

0.9246148763777229