In [12]:
import numpy as np
from statistics import multimode  #For accessing the mode value.

In [7]:
#calculate the mean vslue using mean() function.
a=[1,2,3,4,5,6,7,8,9]
val=np.mean(a)
val

5.0

In [9]:
#Calculate the Meidan value using median() function
val=np.median(a)
val

5.0

In [47]:
#Calaulate the mode vslue using mode()
b=[1,5,8,7,6,5,4,3,9,1,1]
val=multimode(b)
print("The value of mode is::",val)

The value of mode is:: [1]

In [23]:
l=[5,7,4,6,3,8,9,1,2,]
print(l)
l.sort()
print(l)
print(len(l))

[5, 7, 4, 6, 3, 8, 9, 1, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

<center><b><font color='blue'>Calculate the value without built in function</font></b></center>

In [25]:
#Calculate the Mean value.
a=[1,2,3,4,5,6,7,8,9]
sum=0
for i in range(len(a)):
    sum=sum+a[i]
val=sum/len(a)
print("Mean of this list is::",val)

Mean of this list is:: 5.0

In [46]:
#Calculate the Median value.
a=[4,2,8,9,6,3,1,5,7]
a.sort()
if len(a)%2==1:
    val=int(len(a)/2)
    print("Median value is::",a[val])
else:
    mid=len(a)//2
    mid1=mid-1
    val=(a[mid1]+a[mid])/2
    print("Median value is",val)

Median value is:: 5

In [61]:
#Calculate the mode value.
c=0
a=[1,2,7,2,6,7,5,2,7,4,2,7]
a.sort()
print(a)
for i in range(0,len(a)-1):
        if a[i]==a[i+1]:
            c=c+1
        else:
            continue
            
print(c)

[1, 2, 2, 2, 2, 4, 5, 6, 7, 7, 7, 7]
6

In [62]:
import pandas as pd

In [63]:
df=pd.read_csv('E:\Csv file\Iris.csv')

In [64]:
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [65]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [68]:
df['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [75]:
#Appending the column valuue in a list.
list1=[]
for i in df['SepalLengthCm']:
    list1.append(i)
print(list1) 
print("Length=",len(list1))

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9]
Length= 150

In [79]:
#Sorting the list value.
list1.sort()
print(list1)

[4.3, 4.4, 4.4, 4.4, 4.5, 4.6, 4.6, 4.6, 4.6, 4.7, 4.7, 4.8, 4.8, 4.8, 4.8, 4.8, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.1, 5.1, 5.1, 5.1, 5.1, 5.1, 5.1, 5.1, 5.1, 5.2, 5.2, 5.2, 5.2, 5.3, 5.4, 5.4, 5.4, 5.4, 5.4, 5.4, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 5.6, 5.6, 5.6, 5.6, 5.6, 5.6, 5.7, 5.7, 5.7, 5.7, 5.7, 5.7, 5.7, 5.7, 5.8, 5.8, 5.8, 5.8, 5.8, 5.8, 5.8, 5.9, 5.9, 5.9, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.1, 6.1, 6.1, 6.1, 6.1, 6.1, 6.2, 6.2, 6.2, 6.2, 6.3, 6.3, 6.3, 6.3, 6.3, 6.3, 6.3, 6.3, 6.3, 6.4, 6.4, 6.4, 6.4, 6.4, 6.4, 6.4, 6.5, 6.5, 6.5, 6.5, 6.5, 6.6, 6.6, 6.7, 6.7, 6.7, 6.7, 6.7, 6.7, 6.7, 6.7, 6.8, 6.8, 6.8, 6.9, 6.9, 6.9, 6.9, 7.0, 7.1, 7.2, 7.2, 7.2, 7.3, 7.4, 7.6, 7.7, 7.7, 7.7, 7.7, 7.9]

In [83]:
#Mean
val=np.mean(list1)
val

5.843333333333334

In [84]:
#Median
val=np.median(list1)
val

5.8

In [87]:
#Mode
multimode(list1)

[5.0]

<b><font color='blue'>Calculate mean,median,mode directly from column</font></b>

In [90]:
# Mean
x=df['SepalLengthCm'].mean()
print("Mean=",x)

Mean= 5.843333333333335

In [91]:
# Median
x=df['SepalLengthCm'].median()
print("Median=",x)

Median= 5.8

In [95]:
# Mode
x=df['SepalLengthCm'].mode()[0]
print("Mode=",x)

Mode= 5.0

<h3><font color='Red'>Calculate the Mean value</font></h3>